
$top-nav: #0e0e30;
$white-clr:#ffffff;
$menu-active:#fcd700;
$yellow-btn-hover:#caa612;
$black-clr:#000000;
$release-bg:#1b0534;
$view-more:#675d94;
$game-name:#515151;
$game-des:#646464;
$exchange:#2e0093;
$rent-bg:#160f1d;
$exchange-bg:#e8e8e8;
$selling:#1b0534;
$search:#2d2061;
$card-1:#2d2061;
$rented-btn-bg:#1f0335;
$long-border:#0a001b;
$facebook:#4840a0;
$youtube:red;
$twitter:#179ee9;
$footer:#0b001b;
$footer-border:#0a0419;
$drp-bg:#121420;
$menu-small-bg-1:#0d05056e;
$small-border:#383838;
$rented-menu-hvr:#8c8c8c;
$item-bg:#271b5e;
$thumbnail-bg:#14002f;
$rent-btn:#ee9a00;
$exchange-hvr:#5c447d;
$description-clr:#cfced2;
$cart-badge:#30819af2;
$des-brd:#c4c0ca;
$font_family_1: 'FontAwesome';
$sign-in-form:#222f5e;
$sing-input-bg:#f6f6f6;
$forgot:#8b8c97;
$invalid:#c0392b;
$valid:#2bc039;
$slider-nav:#1e294163;
$create-ac:#0c2355;


